body {
    margin: 0;
    height: 100vh;
    font-size: 0;
}

.pageOne {
    width: 100vw;
    height: 100vh;
    background-color: gold;
    display: none;
}

.searchSection {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.pageTwo {
    width: 100vw;
    height: 100vh;
    background-color: purple;
    display: inline-block;
    /*display: none;*/
}

.leftHalf {
    width: 50%;
    height: 100%;
    background-color: orange;
    display: inline-block;
}

.rightHalf {
    width: 50%;
    height: 100%;
    background-color: orangered;
    display: inline-block;
}

.twitterSection {
    width: 60%;
    height: 25%;
    background-color: green;
}

.gameSection {
    width: 60%;
    height: 70%;
    background-color: pink;
}

.mapSection {
    width: 50%;
    height: 40%;
    background-color: #5e5e5e;
}
#map {
    height: 100%;
    width: 100%;
}

.restaurantSection {
    height: 55%;
    width: 75%;
    background-color: lime;
}

