/*TWITTER CSS BEGINS HERE*/

.twitterContainer{
    width: 35vw;
    height: 40vh;
    background-color: #24292f;
    color: white;
    padding: 1%;
}

.tweetLogo{
    height: 97%;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.tweetLogo img{
    border-radius: 50%;
}

.tweetMain{
    height: 98%;
    width: 82%;
    display: inline-block;
    vertical-align: top;
}

.tweetMainHeader{
    height: 10%;
    width: 99%;
}

.twitterHandle{
    height: 80%;
    width: 8%;
    display: inline-block;
    vertical-align: top;
}

.twitterVerified{
    height: 80%;
    width: 5%;
    display: inline-block;
}

.twitterVerified img{
    width: 80%;
}

.tweetsFeed{
    height: 80%;
    width: 99%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.tweetsFeed a{
    color: lightskyblue;
    margin: 0 5px;
}

.tweetText{
    height: 25%;
    width: 99%;
    border: solid lightskyblue 2px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

/*TWITTER CSS ENDS HERE*/

